<h2 mat-dialog-title>Employee Directory</h2>

<mat-dialog-content class="mat-typography">
  <form class="example-form" #form = 'ngForm'>

    <!-- <div class="form-group">
      <input type="text" name="firstName" id="" ngModel required minlength="3" class="from-control">
    </div>

    <div class="form-group">
      <input type="text" name="lastName" id="" ngModel required minlength="3" class="from-control">
    </div> -->

    

  <table class="example-full-width" cellspacing="0">  
      <tr>
        <td>
          <p *ngIf="!firstName.valid && firstName.touched">Enter Valid First Name</p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>

            <input
              required
              pattern="[a-zA-Z ]*"
              matInput
              name="first_name"
              #firstName="ngModel"
              class="form-control"
              ngModel
              
              [(ngModel)]="employeeData.firstName"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!lastName.valid && lastName.touched">Enter Valid Last Name</p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last name</mat-label>
            <input
            pattern="[a-zA-Z ]*"
              required
              matInput
              [(ngModel)]="employeeData.lastName"
              name="last_name"
              ngModel
              #lastName="ngModel"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Preffered name</mat-label>
            <input
              matInput
              [(ngModel)]="employeeData.preferedName"
              name="prefered_name"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!email.valid && email.touched">Enter valid email</p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              required
              type="email"
              matInput
              [(ngModel)]="employeeData.email"
              name="email"
              ngModel
              email
              #email="ngModel"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!jobTitles.valid && jobTitles.touched">Enter First Name</p>
          <mat-form-field appearance="fill">
            <mat-label>Job Title</mat-label>
            <mat-select
              required
              [(ngModel)]="employeeData.jobTitle"
              name="jobTitle"
              ngModel
              #jobTitles="ngModel"
            >
              <mat-option *ngFor="let item of jobTitle" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!department.valid && department.touched">
            Enter First Name
          </p>
          <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select
              required
              [(ngModel)]="employeeData.department"
              name="department"
              ngModel
              #department="ngModel"
            >
              <mat-option *ngFor="let item of departments" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!locations.valid && locations.touched">Enter First Name</p>
          <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <mat-select
              required=""
              [(ngModel)]="employeeData.location"
              name="location"
              ngModel
              #locations="ngModel"
            >
              <mat-option *ngFor="let item of location" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <p *ngIf="!phoneNumber.valid && phoneNumber.touched">Enter correct phone number</p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input
            pattern="\d{10}"
              required
              type="tel"
              matInput
              placeholder="555-555-1234"
              #phoneNumber="ngModel"
              [(ngModel)]="employeeData.phoneNumber"
              name="phoneNumber"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancel(form)">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    id="addOrCloseBtn"
    [disabled]="!form.valid"
  >
    <!-- renders based on situation -->
  </button>
</mat-dialog-actions>
