<div id="inputSearchFilter" class="d-flex">
  <div id="search" class="d-flex">
    <p class="d-none d-sm-block">Search</p>
    <div id="input">
      <button id="searchButton" (click)="searchInput();">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input [(ngModel)]="enteredInput" type="text" id="enteredInput" placeholder="Enter any keyword" />
    </div>
  </div>
  

  <button id="clear-btn" mat-button (click)="clearFilter()">Clear</button>

  <div id="filter-by">
    <mat-form-field>
      <mat-label>Choose Filter</mat-label>
      <mat-select id="selectedOption" [(ngModel)]="selectedOption">
        <mat-option value="firstName">First Name</mat-option>
        <mat-option value="lastName">Last Name</mat-option>
        <mat-option value="preferredName">Preferred Name</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
