
<div id="title-filters">
    <div id="job-title">
        <h2>Job Title</h2>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        
    </div>
    <div id="department">
        <h2>Department</h2>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
    </div>

    <div id="location">
        <h2>Location</h2>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
        <button mat-button id="intern">Intern (1)</button>
        <button mat-button id="junior-software-developer">Junior SoftWare Developer (1)</button>
    </div>

</div>